<!DOCTYPE html>
<html lang="pt-br">
<head>

 <meta charset="UTF-8">
 <title>Lista de motos</title>
</head>
<body>
 <h1>Motos Cadastradas</h1>
 {% for blog in blogs %}
  <h2>{{ blog.title }}</h2>
  {%if blog.imagem %}
  <img src="{{blog.imagem.url}}" alt="imagem" style="max-width: 100%;">
  {%endif%}
     <p><strong>Potencia do motor:</strong> {{ blog.engine_power }}
minutos</p>
   <p><strong>Modelo da moto:</strong> {{ blog.model }}</p>
   <p><strong>Informações:</strong> {{ blog.information }}</p>
   <hr>
 {% empty %}
   <p>Nenhuma moto cadastrada.</p>
 {% endfor %}
</body>
</html>